bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
muek_engine/target
/.vs/Muek/DesignTimeBuild/.dtbcache.v2
/.vs/Muek/v18/.futdcache.v2
/.vs/Muek/v18/.suo
/.vs/Muek/FileContentIndex/9d3fa2b1-c756-4568-baff-e1fcbf254dc3.vsidx
/.vs/Muek/CopilotIndices/18.0.912.14514/CodeChunks.db
/.vs/Muek/CopilotIndices/18.0.912.14514/CodeChunks.db-shm
/.vs/Muek/CopilotIndices/18.0.912.14514/CodeChunks.db-wal
/.vs/Muek/v18/DocumentLayout.backup.json
/.vs/Muek/v18/DocumentLayout.json
/global.json
/.vs/ProjectEvaluation/muek.metadata.v10.bin
/.vs/ProjectEvaluation/muek.projects.v10.bin
/.vs/ProjectEvaluation/muek.strings.v10.bin
/.vs/Muek/CopilotIndices/18.0.912.14514/SemanticSymbols.db
/.vs/Muek/CopilotIndices/18.0.912.14514/SemanticSymbols.db-shm
/.vs/Muek/CopilotIndices/18.0.912.14514/SemanticSymbols.db-wal
/Muek/libmuek_engine.so